// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$oxfordblue: #0A1128;
$royalbluedark: #001F54;
$indigodye: #034078;
$cgblue: #1282A2;
$white: #FEFCFB;
