// Specific CSS for your home-page
body {
  color: white;
  background-color: #0e1014;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.form-for {
  display: flex;
  margin: 0 auto;
}

.form-cont {
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 8px
}

.form-cont .form-cont:focus {
  border: 1px solid #1EDD88;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.buton-form {
  display: contents;
}