<div class="home-banner">
  <div class="container">
    <h1>Spent time with a <strong>Wizard</strong> ?</h1>
    <br>
    <p>At Wizrent you got the chance to rent a wizard & spent time with.</p>
    <br>    
    <a class="btn btn-ghost" href="#">SEARCH BAR</a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>