.footer {
  background-color: transparent;
  height: 100px;
  padding: 0px 50px;
  color: white;
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.footer-links a {
  color: white;
  opacity: 0.25;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links a:hover {
  opacity: 1;
}