.log-form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px 30px 20px 30px;
  border-radius: 4px;
  margin-bottom: 30px;
}

#total {
  padding: 10px 5px 10px 10px;
  border: solid;
  border-width: medium;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.3);
  transition: 1s;
}
