.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: rgb(0, 0, 0);
}

#navbarSupportedContent {
  text-align: center;
}

.linkone {
  display: flex;
  width: 60%;
}

.linktwo {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}